# Frontend Essentials
streamlit>=1.26.0
python-dotenv>=1.0.0
pandas>=2.0.3
numpy>=1.24.3
matplotlib>=3.7.2
seaborn
openai>=1.1.0
pinecone-client>=2.2.2
sentence-transformers==2.2.2
langgraph>=0.0.20
langchain>=0.0.267
langchain-community>=0.0.10
requests
aiohttp>=3.8.5
httpx>=0.24.1
boto3>=1.28.40
s3fs>=2023.6.0
Pillow
